<div class="container">

    <div class="row">

        <div class="col-md-3">
            <br><br>
            <mat-card class="example-card">
               
                <button class="btnUser" mat-button routerLinkActive="active" color=""   routerLink='/{{rutaLogueado}}/perfil'>
                    <mat-icon>person</mat-icon>   Perfil
                </button>
                <button class="btnUser" mat-button routerLinkActive="active" color="" *ngIf="rol ==3" routerLink='/{{rutaLogueado}}/chat'>
                    <mat-icon>chat</mat-icon>   Chatear
                </button>
             
            </mat-card>

        </div>
        <div class="col-md-9">
            <div class="container">
                <br><br>
                <router-outlet>


                </router-outlet>
            </div>
        </div>



    </div>

</div>