

<div class="container">
    <!-- <div class="row">
        <div class="col-md-4">
            <app-search (search)="handleSearch($event)"></app-search>
        </div>
        <div class="col-md-8"></div>
    </div> -->





    <!-- <ul>
        <li *ngFor="let usuario of usuarios | search:filtro_valor "> {{usuario.name}}</li>
      </ul>
   -->

    <br><br><br>
    <!-- <a href="/productos/index"> agregar productos </a> -->
    <!-- <app-productos-slider [productos]="productos" *ngIf="productos"> -->
    <!-- <app-productos-slider >
    </app-productos-slider> -->



    <h2 class="texth2"> Nuevas Prendas</h2>
    <!-- <mat-divider></mat-divider> -->
    <br>

    <br><br>
    <h2 class="texth2"> Principales categorias </h2>
    <!-- <mat-divider></mat-divider> -->
    <br><br>

    <!-- <div class="row">
        <div class="col-md-3" *ngFor="let categoria of categorias">
            <a routerLink="{{categoria.id}}" class="">
                <mat-card class="agrandar">
                    <div> <img src="{{categoria.imagen}}" alt="" class="categoria_img"> </div>
                    <div class="categoriatitulo"> {{categoria.titulo}} </div>
                </mat-card>
            </a>
        </div>
    </div> -->




    <!-- <h2 class="texth2"> Productos</h2>
    <mat-divider></mat-divider>
    <br><br>

    <div class="row">
        <div class="col-md-4" *ngFor="let producto of productos | search:filtro_valor">
            <figure class="card card-product-grid card-lg">
                <a (click)="event2()" routerLink="/producto/{{producto.id}}" class="img-wrap" data-abc="true">
                    <img src="{{ producto.imagen }}"></a>
                <figcaption class="info-wrap">
                    <div class="row">
                        <div class="col-md-8"> <a href="#" class="title" data-abc="true">{{ producto.nombre }}</a> </div>
                        <div class="col-md-4">
                            <div class="rating text-right"> <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                        </div>

                    </div>
                </figcaption>
                <div class="bottom-wrap">

                    <div class="row">
                        <div class="col-md-4">
                            <span class="price h5">{{ producto.precio }}</span>
                        </div>
                        <div class="col-md-8">
                            <button mat-raised-button color="accent"><span class="material-icons">
                                                shopping_cart
                                            </span>Agregar al carrito</button>
                        </div>
                    </div>

                </div>
            </figure>
        </div>
        <br><br>
    </div> -->

</div>